.discount-section{
    padding: 117px;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.discount-section > .texts > .first-heading{
    font-size: 40px;
}
.discount-section > .texts > .second-heading{
    font-size: 30px;
}
.discount-section > .texts > ul{
    margin-bottom: 60px;
    margin-left: 2rem;
}
.discount-section > .img-div{
    width: 50%;
    margin-top: -2rem;
    justify-content: center;
}
.img-div img{
    width: 360px;
}
.img-div{
    position: relative;
}
.discount-section .img-div::after{
    content: "";
    display: block;
    width: 400px;
    height: 200px;
    background-color: #F8E27E;
    position: absolute;
    border-radius: 0 0 200px 200px;
    bottom: 10px;
    transform: rotate(-25deg);
    z-index: -9;
}
.discount-section .img-div span{
    width: 200px;
    height: 60px;
    background-color: aqua;
    position: absolute;
}
.discount-section .img-div span:nth-of-type(1){
    top: 7rem;
    border-radius: 40px;
    transform: rotate(-16deg);
    background: #BE554B;
    z-index: -9;
}
.discount-section .img-div span:nth-of-type(2){
    top: 15rem;
    left:6rem;
    border-radius: 40px;
    transform: rotate(-16deg);
    background: #505C59;
    z-index: -9;
}


@media screen and (max-width:950px){
    .discount-section{
        flex-direction: column;
    }
}
@media screen and (max-width:550px){
    .discount-section{
        padding: 40px 2rem;
    }
    .discount-section > .texts > .first-heading{
        font-size: 25px;
    }
    .discount-section > .texts > .second-heading{
        font-size: 20px;
    }
    .discount-section .img-div{
        display: none;
    }
}