.header{
    background-color: var(--primary-bg);
    justify-content: space-between;
    padding: 1rem 300px;
    align-items: center;
    font-size: 14px;

}
.nav-bar > ul{
    list-style: none;
    gap: 20px;
    align-items: center;
}
.nav-bar > .nav-link{
    color: #262626;
}
.nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: .4s;
}
.nav-link:hover:after{
    width: 100%;
}
.offers-link{
    color: #7D7D7D;
}
@media screen and (max-width:950px){
    .header{
        padding: 1rem 5rem;
    }
}
@media screen and (max-width:500px){
    .header{
        flex-direction: column;
        gap: 1rem;
    }
    .nav-bar > ul{
        gap: 14px;
    }

} 