@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



.hero-section{
    background-color: var(--secondary-bg);
    height: 80vh;
    padding: 140px 110px 70px 110px;
    justify-content: space-between;
}
.hero-texts{
    width: 50%;
}
.hero-texts > .heading{
    font-size: 80px;
    line-height: 100px;
}
.first-heading{
    font-weight: normal;
}
.second-heading{
    font-weight: normal;
}
.hero-texts > .top{
    font-size: 20px;
}
.hero-texts > .bottom{
    color: #505C59;
    margin-bottom: 2rem;
}
.hero-img{
    margin-top: -6rem;
    width: 50%;
    position: relative;
}
.hero-img > img{
    width: 440px;
    border-radius: 0 0 47% 47%;
    z-index: 9;
}
.hero-img::after{
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    background-color: #87CC81;
    position: absolute;
    border-radius: 50%;
    bottom: 2rem;
}
@media screen and (max-width:950px) {
    .hero-section{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 70px 5rem 140px 5rem ;
        margin-bottom: 3rem;
    }
    .hero-texts{
        width: 100%;
    }
    .hero-img{
        margin-top: 1rem;
    }
    .hero-img > img{
        width: 440px;
        border-radius: 0 0 47% 47%;
        z-index: 9;
    }
    .hero-img > .gcr{
        background: #87CC81;
        width: 440px;
        height: 440px;
        position: absolute;
        bottom: 1rem;
        border-radius: 50%;
        z-index: 1;
    }
}

@media screen and (max-width:550px) {
    .hero-section{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 70px 1rem 80px 1rem ;
        margin-bottom: 3rem;
    }
    .hero-texts{
        width: 100%;
    }
    .hero-img{
        margin-top: 1rem;
    }
    .hero-texts > .heading{
        font-size: 50px;
        line-height: 60px;
    }
    .hero-texts > .top{
        font-size: .8rem;
    }
    .hero-texts > .bottom{
        font-size: .8rem;
    }
    .hero-img > img{
        width: 240px;
        border-radius: 0 0 47% 47%;
        z-index: 9;
    }
    .hero-img::after{
        width: 200px;
        height: 200px;
        bottom: 2rem;
    }
}