.input-container{
    width: 100%;
}

.minus{
    border-radius: 10px 0 0 10px ;
}
.plus{
    border-radius: 0 10px 10px 0 ;
}
.input-container img{
    background-color:  #EBEBEB;
    width: 25px;
    height: 40px;
    padding: 0 4px;
}

.input-container > input{
    text-align: center;
    padding: 9px 10px;
    border: none;
    background-color: #F3F3F3;
    outline: none;
    border-radius: 0;
    width: 60%;
}